#root {
  max-width: 1280px;
  margin: 30px auto;
  padding: 2rem;
  text-align: center;
}

.brand {
  color: #646cff;
}

.folder-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.custom-picker {
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: transparent;
}

.custom-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.custom-picker::-webkit-color-swatch:hover {
  transform: scale(1.2);
  transition: 0.4s all;
}

.custom-picker::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.custom-picker::-moz-color-swatch:hover {
  transform: scale(1.2);
  transition: 0.4s all;
}

.create-btn {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #fff;
  background: rgb(31, 176, 31);
}

.delete-btn {
  transform: translate(-390%, -360%) scale(1);
  padding: 0;
}

.delete-btn:hover {
  border-color: transparent;
  transform: translate(-390%, -360%) scale(1.2);
  transition: all 0.5s;
}

.create-btn:hover {
  border: 1px solid #000;
}

.input-field {
  padding: 0.6em 1.2em;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #646cff;
  border-radius: 10px;
  margin-bottom: 25px;
}
