#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.folder-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.create-btn {
  margin-top: 30px;
  color: #fff;
  background: rgb(31, 176, 31);
}

.create-btn:hover {
  border: 1px solid #000;
}
